#room-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#room-code {
  margin-right: 10px;
}

#exit-room {
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

#app {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff6347;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e5533d;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
  background-color: #ffebcd;
  transform: scale(1.05);
}

.winning-cell.winner {
  background-color: #70ff70 !important;
  animation: greenFade 0.5s ease-in-out forwards;
}

.winning-cell.loser {
  background-color: #ff7373 !important;
  animation: redFade 0.5s ease-in-out forwards;
}

@keyframes greenFade {
  0% { background-color: white; }
  100% { background-color: green; }
}

@keyframes redFade {
  0% { background-color: white; }
  100% { background-color: red; }
}

#status {
  margin-top: 20px;
  font-size: 1.2rem;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #666;
}

#loading .loader {
  width: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #ff6347 #0000;
  animation: spin 0.8s infinite;
  margin-right: 10px;
}

@keyframes spin {
  to { transform: rotate(.5turn) }
}

#game-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 1.1rem;
}

#room-code {
  margin-top: 20px;
}

#exit-room {
  margin-top: 20px;
}

@media (max-width: 500px) {
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  #app {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
  }

  .card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #007bff;
  }

  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #0056b3;
  }

  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
  }

  .cell:hover {
    background: #e9f5ff;
    transform: scale(1.05);
  }

  #game-info {
    margin-top: 20px;
  }

  #status {
    margin-bottom: 10px;
    font-size: 18px;
  }

  #game-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  #loading {
    color: #007bff;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #room-code {
    margin: 10px 0;
  }

  .btn {
    width: calc(100% - 40px);
    margin: 10px 0;
  }

  #status {
    font-size: 16px;
  }

  #game-stats {
    flex-direction: column;
  }

  #game-stats div {
    margin-bottom: 5px;
  }
}

.green-text {
  color: green;
  text-decoration:underline;
}

.red-text {
  color: red;
  text-decoration:underline;
}

.emoji-selector-button{
	color:#ff6347;
	background:#fff;
	border-radius:5px;
	padding: 5px 18px 5px 18px;
}

.emoji-selector{
	display: contents;
	margin-top:15px;
}